@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
}
.Logo{
    font-size: larger;
}
nav{
    background: #1C49C2;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'chewy';
}
nav input{
    width: 400px;
    height: 5vh;
    border-radius: 10px;
    border: none;
}
nav i {
    font-size: 20px;
}
.alt-menu a {
    padding: 20px;
}
.search{
    color: white;
    font-family: 'chewy';
}
.search i{
    position: relative;
    
}

/* Footer */
.footer-upper{
    width: 100%;
    background-color: #1C49C2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'chewy';
    color: white;
}
.footer-upper a{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #1C49C2;
    font-family: 'chewy';
}
.footer-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #1C49C2;
}

.footer-lower a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #1C49C2;
    padding: 20px;
}



/* nav bar ends */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  


